.NavbarItems {
  background-color: #ffffff;
  height: 80px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 95%;
  z-index: 999;
  margin: 30px;
  border-radius: 50px 10px 50px 10px;
  box-shadow: 10px 10px 15px;
}

.NavbarItems img {
  margin-left: 4rem;
}

.NavbarItems h1 {
  color: black;
  font-size: 25px;
}

.NavbarItems a {
  color: black;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 0.5rem;
  cursor: pointer;
  width: 300px;
}

span {
  color: maroon;
}
.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links::after {
  transition: 1s;
}

.nav-links:hover {
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

/* starting */
nav ul li a {
  position: relative;
}

nav ul li a:last-child {
  margin-left: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: maroon;
  left: 0;
  transform: scaleX(0);
  transition: all 0.5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

nav ul li a:hover::after,
nav ul li a:hover::before {
  transform: scaleX(1);
}

/* Ending */

.fa-bars {
  color: maroon;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: sticky;
  }

  .NavbarItems h1 {
    display: none;
  }

  .nav-menu a {
    color: white;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    /* animation: animate 1s linear; */
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
  }
  @keyframes animate {
    0% {
      transform: translateX(-90%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .nav-menu.active {
    background: #750e0e;
    transition: all 1s ease-out;
    display: block;
    left: 0;
    opacity: 1;
    z-index: 1;
    clip-path: circle(1000px at 90% 10%);
    -webkit-clip-path: circle(1000px at 90% 10%);
    transition: all 1s ease-out;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: maroon;
    border-radius: 0;
    transition: all 0.5s ease;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15%, 52%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: maroon;
  }

  .nav-links-mobile:hover {
    background: #000;
    color: #6568f4;
    transition: 250ms;
  }
}

@media screen and (max-width: 800px) {
  .NavbarItems {
    margin: 20px;
  }
  .NavbarItems img {
    margin-left: 20px;
  }
}

@media screen and (max-width: 500px) {
  .NavbarItems {
    position: relative;
    margin: 10px;
    border-radius: 0px;
  }
}
