.footer-page,
.footer-page::before,
.footer-page::after {
  box-sizing: border-box;
}

footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #000;
  background-color: #efefef;
}

.footer > * {
  flex: 1 100%;
}

.footer-left {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 600;
  font-size: 17px;
}

.footer-left h1 span {
  color: maroon;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
}

.footer-right > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.box a {
  color: #999;
}

.footer-left p {
  padding-right: 20%;
  color: #999;
}

.socials a {
  background: #afa9a9;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 10px;
}

.socials a .i {
  color: #000;
  padding: 10px 12px;
  font-size: 20px;
}

.socials a .i:hover {
  color: maroon;
  transition: 0.5s;
  transform: rotate(360deg);
}

@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-left {
    flex: 1 0px;
  }
  .footer-right {
    flex: 2 0px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 15px;
  }
}
