/* Hero-text */
.Big-text {
  color: black;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 10px;
  font-size: 130px;
  font-weight: 1000;
  line-height: 1em;
}
.Big-text span {
  color: maroon;
}

.Typing-text {
  margin-left: 50px;
  margin-top: 80px;
  font-size: 35px;
  line-height: 1.5em;
  margin-right: 10px;
  font-weight: 400;
  color: #b7b7b7;
}

@media only screen and (max-width: 930px) {
  .Typing-text {
    font-size: 28px;
  }
}

@media only screen and (max-width: 790px) {
  .Big-text {
    font-size: 100px;
    font-weight: 1000;
  }
  .Typing-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 558px) {
  .Big-text {
    margin-top: 80px;
    font-size: 70px;
    font-weight: 1000;
    margin-left: 30px;
    margin-right: 10px;
  }
  .Typing-text {
    font-size: 25px;
    margin-left: 30px;
    margin-right: 10px;
  }
}

/* Social-media links */
.social-media {
  height: 230px;
  width: 60px;
  background: #fff;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  right: 50px;
  transform: translate(-50%);
  box-shadow: 10px 10px 20px;
}

.social-media .icon-box {
  padding: 15px 15px 15px 20px;
  font-size: 20px;
  font-style: none;
  list-style: none;
}

.social-media .icon-box a {
  color: #000;
}

.social-media .icon-box:hover {
  transform: rotate(360deg);
  transition: 1.5s;
}

.social-media .icon-box a:hover {
  color: maroon;
  transition: 1s;
}

@media only screen and (max-width: 980px) {
  .social-media {
    display: none;
  }
}

/* Particles */
#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}
canvas {
  display: block;
  position: fixed;
  z-index: -1;
}
